
<link rel="stylesheet" href="{{ url_for('static', filename='css/scenario1/home.css') }}">

<div class="hero">
    <h1> 🚀 Scenario1: iOT sensors and SEMAR Server</h1>
</div>

<div class="scenarios-container">
    <div class="scenario-card">
        <div class="scenario-icon">🌡️</div>
        <h2>Lesson 1</h2>
        <h4>DHT22 Sensor</h4>
        <p>Learn how to read Room Temperature</p>

        <a href="/scenario1_lesson1" class="scenario-button">Start Learning</a>
    </div>

    <div class="scenario-card">
        <div class="scenario-icon">💧</div>
        <h2>Lesson 2</h2>
        <h4>DS18B20 Sensor</h4>
        <p>Learn how to read water temperature</p>

        <a href="/scenario1_lesson2" class="scenario-button">Start Learning</a>
    </div>

    <div class="scenario-card">
        <div class="scenario-icon">🧪</div>
        <h2>Lesson 3</h2>
        <h4>Water Level Sensor</h4>
        <p>Learn how to read water level</p>

        <a href="/scenario1_lesson3" class="scenario-button">Start Learning</a>
    </div> 

</div>
